@tailwind base;
@tailwind components;
@tailwind utilities;

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: outfit;
}
body{
    overflow: hidden;
}
#root{
    width: 100vw;
    min-height: 100vh;
    display: flex;
   
}
